.App {
  font-family: sans-serif;
  font-size: 30px;
}

.checkButton {
  border: none;
  background: none;
  border-radius: 4px;
  padding-right: 4px;
  padding-left: 0;
  margin: 0;
  font: inherit;
  vertical-align: top;
}

.deleteButton {
  font: inherit;
  color: #999;
  border-radius: 4px;
  border: none;
  margin-left: 8px;
  padding: 0px 0.5ex;
  line-height: 1em;
}

.created {
  font-size: 15px;
  font-weight: lighter;
  display: block;
}

.item {
  display: inline-block;
}

ul {
  list-style: none;
  padding: 0 1ex;
}

li {
  margin-bottom: 0.5em;
  margin-left: 0;
}
